<h2>Who are we?</h2>
<p>Overwatch-Tips was created by NoSkillCorp in order to create an environment where players could anonymously share ideas and tips for Overwatch!</p> 

<h2>Have a request to add a feature?</h2>
<p>We appreciate feedback and you can submit your request to overwatchtip@gmail.com</p>

<h2>Feel like contributing?</h2>
<p>To contribute, please submit a <a class="btn-link" href="https://github.com/NoSkillCorp/overwatch-tips">pull request</a> using Github.

<p>In order to run the website, simply Fork the Github, and run `bundle install`, `rake db:migrate` and `rails s`.</p>

